<a href="https://colab.research.google.com/github/GabrielSouza-git/PythonHashtagProgramacao/blob/main/Python_com_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#Biblioteca
import sqlite3

In [32]:
# Criar um banco de dados
Conexao = sqlite3.connect('Banco_Dados')

In [33]:
# Apontar para o banco
Cursor = Conexao.cursor()

# 1. - CREATE TABLE

**CREATE TABLE table_name (column1 datatype, column2 datatype, ...)**



Os parâmetros de **coluna** especificam os nomes das colunas da tabela.
O parâmetro **datatype** especifica o tipo de dados que a coluna pode conter (por exemplo, varchar, integer, date, etc.)

In [34]:
# Criando uma tabela
Cursor.execute(
    'CREATE TABLE Minha_Tabela (Data text, Nome text, Idade real)'
)

# Fazer um commit
Conexao.commit()

OperationalError: ignored

# 2. - INSERT INTO
A INSERT INTO instrução é usada para inserir novos registros em uma tabela.


1.   Especifique os nomes das colunas e os valores a serem inseridos:

**INSERT INTO table_name (column1, column2, column3, ...)**

In [ ]:
# Inserindo valores
Cursor.execute(' INSERT INTO Minha_Tabela VALUES ("01/01/2021", "Gabriel", "23") ')

In [ ]:
Cursor.execute(' INSERT INTO Minha_Tabela VALUES ("05/01/2021", "Toni", "26") ')

In [ ]:
# Importar Numeros aleatorios
import random
import datetime

In [ ]:

for loop in range(3):
  # Gerando um numero aleatorio
  numero = random.randint(10, 20)
  troll = random.choice(["Joao", "Marcos","Ronaldo","Rivaldo"])
 

  #Inserir informação na minha tabela
  Cursor.execute(f' INSERT INTO Minha_Tabela VALUES ("05/01/2021", "{troll}", {numero})')

# 3. - SELECT TABLE

A SELECT instrução é usada para selecionar dados de um banco de dados.



SELECT * FROM table_name (todas as colunas)



**SELECT column1, column2, ... from table_name**

In [ ]:
# Query de consulta - todas as colunas
Consulta = Cursor.execute (' SELECT * FROM Minha_Tabela').fetchall()

print(Consulta)

In [ ]:
# Query de consulta - colunas especificas
Consulta = Cursor.execute (' SELECT Nome, Idade FROM Minha_Tabela').fetchall()

#Loop
for Linha in Consulta:
  print (Linha)

# 4. - WHERE

A WHERE cláusula é usada para filtrar registros

**SELECT column FROM table_name WHERE condition**;

Operadores:


1.   <> Diferente
2.   BETWEEN Entre --- begin_expression AND end_expression
3.   LIKE Procurar por padrão
4.   IN Para especificar vários valores possíveis para uma coluna

In [ ]:
# Query usando o Igual "="
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome = 'Mateus'    
    '''
).fetchall()

for linha in Consulta:
  print (linha)

In [ ]:
# Query usando o Igual "="
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade < 30 
    '''
).fetchall()

print (Consulta)

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome <> "Mateus"
''').fetchall()

#loop
for linha in Consulta:
  print(linha)

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE idade between 15 and 16
    '''
).fetchall()
print (Consulta)

# 6. - LIKE

O LIKE operador é usado em uma WHERE cláusula para procurar um padrão especificado em uma coluna.

Existem dois curingas frequentemente usados em conjunto com o LIKEoperador


1.   O sinal de porcentagem (%) repsenta zero, um ou vários caracteres
2.   O sinal de sublinhado(_) representa um único caractere

In [ ]:
# Query procurando algo que comece
Consulta = Cursor.execute(
    '''
    SELECT * from Minha_Tabela
    where nome LIKE 'M%'
    '''
).fetchall()

for linha in Consulta:
  print (linha)

In [ ]:
# Query procurando algo que tenha o padrão
Consulta = Cursor.execute(
    '''
    SELECT * from Minha_Tabela
    where nome LIKE '%teus%'
    '''
).fetchall()

for linha in Consulta:
  print (linha)

# 7. - IN

O IN operador permite especificar vários valores em uma WHEREcláusula

O IN operador é um atalho para várias ORcondiçoes

In [ ]:
# Query procurando algo com o IN
Consulta = Cursor.execute(
    ''' select * from Minha_Tabela
    where idade in (15,23,25)
    '''
).fetchall()

for linha in Consulta:
  print(linha)

# 8. - AND, OR, NOT

A WHERE cláusula pode ser combinada com os operadores AND, ORN e not
Os operadores AND e OR são usados para filtrar registros com base em mais de uma condição

1.   O AND operador exibe um registro se todas as condições separadas por AND forem TRUE.
2.   o OR operador exibe um registro se alguma das condições separadas por OR for TRUE.
3.   O NOT operador exibe um registro se as condiçoes não forem verdadeiras.

In [ ]:
# AND
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_tabela
    where idade = 23 AND Nome = "Gabriel"
    '''
).fetchall()
print(Consulta)

In [ ]:
# OR
Consulta = Cursor.execute(
    '''
    select * from Minha_tabela
    where idade = 15 or nome = "Gabriel"
    '''
).fetchall()
print(Consulta)

In [ ]:
# NOT
Consulta = Cursor.execute(
    '''
    select * from Minha_tabela
    where not nome = "Mateus"
    '''
).fetchall()
print(Consulta)

In [ ]:
# COMBINAÇÃO AND OR NOT
Consulta = Cursor.execute(
    '''
    select * from Minha_tabela
    where nome = "Mateus" and (idade > 12 or Idade < 16) and not idade = 15
    ''').fetchall()
print(Consulta)

# 9. - ORDER BY

A ORDER BY é usada para classificar o conjunto de resultados em ordem crescente ou decrescente

A Instrução ORDER BY classifica os registros em ordem crescente por padrão.

Para classificar os registros em ordem decrescente, use a palavra desc.

In [ ]:
#Ordenar os valores
Consulta = Cursor.execute(
    '''select * from Minha_tabela
    order by nome
''').fetchall()

for linha in Consulta:
  print (linha)

# 10. - NULL VALUES

Um campo com valor NULL é um campo sem valor.

Se um campo em uma tabela for opcional, é possível inserir um novo registro ou atualizar um registro sem adicionar um valor a esse campo. Em seguida, o campo será salvo com um valor NULL.

Não é possível testar valores NULL com operadores de comparação, como =, < ou <>

Teremos que usar os operadores IS NULL e em vez disso IS NOT NULL

In [ ]:
# Preenchendo valores nulos
Cursor.execute('Insert into Minha_tabela values ("ABC", null, 30)')
Cursor.execute('Insert into Minha_tabela values ("ABC", null, null)')